* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Header styles */
  header {
    background-color:black;
    
    color: #fff;
    padding: 15px 0;
    display: flex;
    justify-content: flex-end;

  }

  nav {
    width: 30%;
  }
  
  nav ul {
    list-style-type: none;
    text-align: center;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }


  .hero {
    background-image: url("assets/japan.jpeg");
    background-size:cover;
    color: black;
    text-align: center;
    padding: 100px 0;
  }

  .hero-content {
    margin: 0 auto;
  }

  .hero-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }


  .hero-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }

  .job-listing {
    padding: 50px 0;
    text-align: center;
  }

  .job-listing-container {
    padding: 50px 0;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    
    flex: 3;
    justify-content: center;
    gap: 15px;
  }

  .job-listings-inner {
    padding: 20px 0;
    border: 2px solid black;
  }

  button{
    margin-top: 10px;
    background-color: blue;
    padding: 10px 10px;
    color: white;
    border: none;
    border-radius: 10px;
  }

